@font-face {
    font-family: 'Recursive Sans Linear';
    src: url('Recursive-SansLinearLight.woff2') format('woff2'),
        url('Recursive-SansLinearLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

