@font-face {
	  font-family: 'recursive';
	  src: url('../font/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf') format('truetype');
	  src: url('../font/Recursive-SansLinearLight.woff') format('woff');
}
*{
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}

#map{
	width: 100%;
	height: 400px;
}
#verifyBtn{
	border-width: 0;
	height: 25px;
}
#correct{
	display: none;
}
form {
	padding: 40px;
	width: 800px;
}
form > * {
	margin-top: 10px;
	margin-bottom: 10px;
}
.inputGroup{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.inputGroupUnder{
	width: 100%;
	display: flex;
	flex-direction: column;
}
#description{
	height: 200px;
}
#audioTypeSelect{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	line-height: 18pt;
}
#ytLinkBox{
	display: none;
	width: 50%;
	text-align: right;
	align-self: flex-end;
}
#uploadBox{
	/*display: none;*/
	width: 50%;
	text-align: right;
	align-self: flex-end;
}

#erfolg{
	width: 300px;

}
.nav{
	padding: 10px;
		border-radius: 4px;
		background-color: gray;
	text-decoration: none;
	color: #fff;
	margin-right: 20px;
	font-weight: bold;
	transition: background-color 0.25s ease;
}
#livestream{
	background-color: #e03939;
}
#livestream:hover{
	background-color: #fa5353;
}
#soundcheck{
	background-color: #2537e0;
}
#soundcheck:hover{
	background-color: #283cfe;
}
#wrap{
	padding: 40px;
}

#sendeIcon:hover{
	transform: scale(19);
}
.ray1{
	fill: #fff;
}