@font-face {
	  font-family: 'recursive';
	  src: url('../font/Recursive-VariableFont_CASL,CRSV,MONO,slnt,wght.ttf') format('truetype');
	  src: url('../font/Recursive-SansLinearLight.woff') format('woff');
}
body{
	overflow: hidden;
}
*{
	box-sizing: border-box;
	font-family: 'Roboto Mono', monospace;
}
#intro{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 99;
	background-color: #fff;
    transition: opacity 1.5s ease;
}
#intro p {
	width: 600px;
	line-height: 16pt;
	margin: 0;
}
#click{
	padding-top: 40px;
	text-align: center;
}
#legende{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 55px;
	padding-bottom: 30px;
	z-index: 4;
	display: flex;
	flex-direction: column;
	opacity: 0.5;
	transition: opacity 0.25s;
}
#legende:hover{
	opacity: 1;
}
#legende svg{
	height: 25px; 
}
#legende div {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	/*justify-content: */
}
#legende p {
	margin: 0;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#map{
	width: 100vw;
	height: 100vh;
	/*width: 500px;*/
	/*height: 500px;*/
	z-index: 3;
	background-color: #fff;
}
#content{
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 0;
	width: 400px;
	height: 100vh;
	padding: 3rem;
	background-color: white;
	z-index: 4;
	transition: left 0.5s;
	opacity: 0.85;
}
.active{
	left: 0px;
}
.closed{
	left: -400px;
}
#x{
	width: 24px;
	height: 24px;
	font-size: 42pt;
	/*scale: 0.66;*/
	opacity: 1;
	transition: opacity 0.25s ease;
	align-self: flex-end;
	color: #000;
}
#x:hover{
	opacity: 0.8;
}
#interface{
	display: flex;
	justify-content: flex-end;
	align-items: center;

}
#playPause{
	width: 75px;
	padding-right: 20px;
}
#volume-control {
	width: 125px;
}
#playSVG{
	display: none;
}
/*#audioPlayer{
	width: 360px;
	align-self: center;
	margin-top: 20px;
}*/
#text{
	display: flex;
	flex-direction: column;
}
#text > *{
	margin: 0;
}
/*#video{
	max-width: 400px;
	margin-top: 20px;
	text-align: center;
	align-self: center;
}
#videoWrap{
	text-align: center
}*/
#projekt{
	text-align: right;
}
#nameK{
	text-align: right;
}
#description{
	font-size: 14px;
	line-height: 16pt;
	margin-top: 15px;
	text-align: right;
}
#website{
	text-align: right;
	font-weight: bold;
	color: #000;
	padding-top: 20px;
	font-size: 12px;
}
.view{
	display: initial;
}
.noView{
	display: none;
}
.circle{
	animation: pulse 1.0s;
	animation-iteration-count: infinite;
  	animation-delay: .25s;
}
.ray1{
	animation: pulse 1.0s ;
	animation-iteration-count: infinite;
  	animation-delay: 0.75s;
}
.ray2{
	animation: pulse 1.0s ;
	animation-iteration-count: infinite;
  	animation-delay: 0.5s;
}
#interface{
	display: flex;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #000000;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-color: #ffffff;
  border-right:  2px dashed #000;
  border-left:  2px dashed #000;
}

.svg{
	opacity: 1;
	transition: opacity 0.5s ease;
}
.svg:hover{
	opacity: 0.8;
}
.slider:hover {
  opacity: .7;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 15px;
	width: 15px;
	height: 15px;
	background: #000;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 15px;

	background: #000;
	border-width: 0;
	cursor: pointer;
}
@keyframes pulse {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@media screen and (max-width: 800px) {
	#content{
		width: 100%;
		justify-content: space-between;
	}
	.closed{
		left: -100vw;
	}
	.active{
		left: 0vw;
	}
	#interface{
		flex-flow: column;
		justify-content: space-between;

	}
	#playPause{
		width: 100px;
		padding: 0;
		padding-bottom: 40px;
	}
	#volume-control{
		width: 200px;
	}
}